.vscode/**
.vscode-test/**
.vscode-test.mjs
.claude/**
.omc/**
.git/**
.gitignore
.gitattributes
.yarnrc
.eslintrc*
eslint.config.mjs
tsconfig.json
vsc-extension-quickstart.md

AGENT.md
CLAUDE.md

src/**
out/test/**

docs/**
video_draft/**

node_modules/**
yarn.lock
package-lock.json

**/*.ts
**/*.map
**/tsconfig*.json
**/*.mov
**/*.mp4

*.vsix
.DS_Store
Thumbs.db


.env